<div class='row-fluid'>
	<div class='span-8'>
		<div class="white">
			<% if @team.errors.present? %>
				<ul>
					<% @team.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<%end%>
				</ul>
				<% end %>
			<%= form_for @team do |f| %>
				<table>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td><%= f.text_field :name%></td>
					</tr>
					<tr>
						<td>Name_kode</td>
						<td>:</td>
						<td><%= f.text_field :name_kode %></td>
					</tr>
				<tr>
					<td colspan = '3'><%= f.submit %>
				</tr>
				</table>
			<% end %>
		</div>
	</div>
</div>