<h1> List All Team </h1>
<ul>
	<%@teams.each do |team| %>
	<li><%= link_to team.name, team_path(team) %> | <%=team.name_kode %>
		<%= link_to 'Edit', edit_team_path(team)%> |
	    <%= link_to 'Destroy', team_path(team), method: :delete%>
	</li>
	<%end%>
</ul>

<%= link_to 'New_team', new_team_path %>