<div class='row-fluid'>
	<div class='span-8'>
		
    <center>
     <h1>National: <%= @team.name %></h1>

      </center>
      <ul class="mh-menu ol_ul aa">
        <div class="aa">
          <li>
            <a>
              <span>Coach</span>
              <span><%= @team.coach.name %></span>
              <span><%= link_to 'info', coach_path(@team.coach)%></span>
            </a><%= image_tag @team.coach.image_url, style:'width: 290px; hight:200px;' %>
          </li>

          <% @team.players.each do|player|%>
            <li>
              <a>
                <span><%=player.position%></span>
                <span><%= player.name%></span>
                <span><%= link_to 'Info', player_path(player) %></span>

              </a>
              <td rowspan="3" class="" style="width:58px;background-color:#fff;margin:0px;padding:0 3px;border:1px solid #bbb;">
                <%= image_tag player.image_url, style:'width: 290px; hight:0px;'%>
              </td>
            </li>
          <%end%>
        </div>
      </ul>
      <div class="aa marginbawah">
      <%= link_to 'Edit', edit_team_path(@team) %>
      <%= link_to 'Cancel', teams_path(@team) %> 
      </div> 
  </div>
</div>


































<!-- 
    <div style='width: 500px; margin: 0px auto;'>
      <div class="bs-docs-example">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/ZlatanIbrahimovic.jpg" alt="1" width="500">
              </div>
              
              <div class="carousel-caption">  
                <h4>First Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
            <div class="item carousel-item">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/ZlatanIbrahimovic.jpg" alt="2" width="500">
              </div>
              
              <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>2</p>
              </div>
            </div>
            <div class="item carousel-item">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/pirlo.jpeg" alt="3"  width="620">
              </div>
              
              <div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>





 -->