<div class='row-fluid'>
 <div class='span-8'>
	<center>

	 	<div class="white">
			<h1>
				<%= @coach.name %>
			</h1>
			<%= link_to 'Edit', edit_coach_path(@coach) %>
			<%= link_to 'Cancel', coaches_path %>
		</div>
		<br>
		<div class="element">
			<table >
				<body>
					<tr>
						<td rowspan="3" class="" style="">
						<%= image_tag @coach.image_team_url, style:'width; 300px; hight:200px;' %>
						</td>	
					</tr>
					<tr>
						<td>
							<%=@coach.national%> 
						</td>
					</tr>
					<tr>
						<td>Current national coach:
							<a><%=@coach.national%>
							</a>
							<a></a>
						</td>
					</tr>
				</body>
			</table>
		</div>
		<p class="hl_startseite mt10 pp p tengahfoto">The profile for <%=@coach.name%></p>
	    <ul class="thumbnails">
	        <div class="thumbnail tengahfoto">
				<%= image_tag @coach.image_url, style:'width; 300px; hight:200px;' %>
			   	 <div class="caption">
			      	<h3>
			      		<div class="white"><%=@coach.name%></div>
			      	</h3>
			      		<p>
			      			<div class="white">
				      			<table class="tabelle_spieler s10" cellpadding="0" cellspacing="1">
									<tbody>
										<tr>
										    <td style="width:130px;">Name in native Country:</td>
										    <td class="fn n">
										    	<span class="given-name s10"><%=@coach.name%></span>
										    </td>
									    </tr>
										<tr>
											<td>Age:</td>
											<td><%=@coach.age%></td>
										</tr>
										<tr>
											<td>Nationality:</td>
											<td>
												<%=@coach.national%>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
			      	    </p>
			      </div>
			   </div>
		</ul>
	</center>
 </div>
</div>