<% if @player.errors.present? %>

<ul>
	<% @player.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<%end%>

<% end %>



<%= form_for @player do |f| %>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td><%= f.text_field :name%></td>
	</tr>

	<tr>
		<td>number_player</td>
		<td>:</td>
		<td><%= f.text_field :number_player%></td>
	</tr>

	<tr>
		<td>position</td>
		<td>:</td>
		<td><%= f.text_field :position%></td>
	</tr>

	<tr>
<td colspan = '3'><%= f.submit %>
	</tr>
</table>
<% end %>