<div class='row-fluid'>
	<div class='span-8'>
	    <h1>
		</h1>
		<div class="element">
			<table class="tabelle_spieler" cellpadding="0" cellspacing="1">
				<tbody>
					<tr>
						<td rowspan="3" class="" style="width:58px;background-color:#fff;margin:0px;padding:0 3px;border:1px solid #bbb;">
							<img src="/assets/psg.jpg" alt="Paris Saint-Germain" title="Paris Saint-Germain">
						</td>			
						<td class="" style="">
							<h1 class="font" style="color:blue;"><%=@player.number_player%> <%=@player.name%>
							</h1>
						</td>
					</tr>
					<tr>
						<td>
							<a title="Paris Saint-Germain">Paris Saint-Germain
							</a> 
							<a title="Paris Saint-Germain">Ligue 1
							</a> (France)
						</td>
					</tr>
					<tr>
						<td>Current national player:
							<a>Sweden
							</a>
							<a></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	

		<p class="hl_startseite mt10 pp p">The profile for <%=@player.name%></p>
		<p></p>
	    <ul class="thumbnails">
	       <li class="span4">
			  <div class="thumbnail">
			  	<%= image_tag @player.image_url, style:'width; 300px; hight:200px;' %>
			   	 <div class="caption">
			      	<h3>
			      		<div class="white"><%=@player.name%></div>
			      	</h3>
			      		<p>
			      			<div class="white">
			      			<table class="tabelle_spieler s10" cellpadding="0" cellspacing="1">
								<tbody>
									<tr>
									    <td style="width:130px;">Name in native country:</td>
									    <td class="fn n">
									    	<span class="given-name s10"><%=@player.name%></span>
									    </td>
								    </tr>
									<tr>
										<td>Date of birth:</td>
										<td><a href="" class="s10" title="03.10.1981"><%=@player.birth_date%></a></td>
									</tr>
									<tr>
										<td>Place of birth:</td>
										<td><%=@player.birth_place%>&nbsp;<span class="" title="sweden: rosengard">&nbsp;</span></td>
									</tr>
									<tr>
										<td>Age:</td>
										<td><%=@player.age%></td>
									</tr>
									<tr>
										<td>Height:</td>
										<td><%=@player.height%></td>
									</tr>
									<tr>
										<td>Nationality:</td>
										<td>
											<%=@player.national%>
										</td>
									</tr>
									<tr>
										<td>Position:</td>
										<td><%=@player.position%></td>
									</tr>
									<tr>
										<td>Foot:</td>
										<td><%=@player.foot%></td>
									</tr>
									<tr>
										<td>Market value:</td>
										<td><%=@player.market_value%><!-- <span style="color:#777;padding:0;">30.000.000 €</span> -->
										&nbsp;
											<a href="https://www.facebook.com/Achilles.Raka" title="Market value - development: Zlatan Ibrahimovic">
												<img src="/assets/market_value2.jpg" alt="Market value" title="Market value" width="10" height="10">
											</a>
										</td>
									</tr>
									<tr>
										<td>Player's agent:</td>
										<td>
											<a href="https://www.facebook.com/Achilles.Raka" class="s10"><%=@player.player_agent%> 
											</a>
										</td>
									</tr>
										</tbody>
								</table>
						</div>
			      	    </p>
				      	<p>
				      		<a href="" class="btn btn-primary"> informasi
				      		</a>
				      		<a href="" class="btn btn-primary"> informasi2

				      		</a>
				      	</p>
			      </div>
			   </div>
			</li>
		</ul>		
		  <div class="bs-docs-example2">
		    <br>
		  <div class='clearer '></div>
		    <footer class='footer black'>
		      <div class='container'>
		        <address>
		          <strong>An_Raka, Inc.</strong><br>
		          795 Folsom Ave, Suite 600<br>
		          San Francisco, CA 94107<br>
		          <abbr title="Phone">Phone:</abbr> (+628) 896-8822
		        </address>
		        <address>
		          <strong>Full Name</strong><br>
		          <a href="https://www.facebook.com/Achilles.Raka">https://www.facebook.com/Achilles.Raka</a>
		        </address>
		      </div>
		    </footer> 
		  </div>
		</div>

	</div>
</div>


