<!DOCTYPE html>
<html>
	<head>
		<title>WorldCup</title>
		<link rel="icon" type="image/png" href="assets/aerow_red.png"/>

		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
	</head>
	<body>
	      <%= render 'layouts/menu'%>

		<div class='container container2' style='border:3px solid White; 
			border-top:0px; border-left:0px; border-right:0px;
			padding: 10px 5px 10px 5px; margin-top:20px; margin-bottom:20px;'>
		  <%= yield %>
	</body>

</html>
